@model Club

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">@Model.Title</h1>
            <p class="lead text-muted">@Model.Description</p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="img-fluid" src="@Model.Image" alt="">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">Details</h3>
                <ul>
                    <li>@Model.Address.City</li>
                    <li>@Model.Address.State</li>
                    <li>@Model.ClubCategory</li>
                </ul>
                <a asp-controller="Club" asp-action="Index">Back to Clubs</a>
            </div>
        </div>
    </div>
</section>
