@model UserDetailViewModel

<section>
    <div class="container">
        <div class="row justify-content-center py-lg-5">
            <div class="col-12 col-md-8">
                <div class="media">
                    <img alt="Image" src="@(!string.IsNullOrEmpty(Model.ProfileImageUrl) ? Model.ProfileImageUrl : "https://placehold.co/200x200/EEE/31343C")" class="mr-md-5 avatar avatar-xlg object-fit-cover img-thumbnail" width="200" height="200">
                    <div class="media-body">
                        <div class="mb-3">
                            <h1 class="h2 mb-2">@Model.UserName</h1>
                            @* <span class="text-muted"><i class="icon-location"></i>@model.location</span> *@
                        </div>
                        <p class="text-muted">Pace: @Model.Pace</p>
                        <p class="text-muted">Mileage: @Model.MileAge</p>
                        <p>
                            Bit of a go-getter me, creating lovely things that help others. You'll most often find me out back in the hammock, listening to tunes and bending pixels to my will.
                        </p>
                        <div>
                            <button class="btn btn-outline-primary" data-toggle="button"><i class="icon-add-user"></i> Follow</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>