@model List<UserViewModel>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Runners</h1>
            <p class="lead text-muted">Meet the Pack: Connect, Inspire, and Grow with Fellow Runners!</p>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row mb-2">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Runner</th>
                        <th scope="col">Pace</th>
                        <th scope="col">Mileage</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var runner in Model)
                    {
                        <tr>
                            <td>
                                <span>
                                    <img src="@(!string.IsNullOrEmpty(runner.ProfileImageUrl) ? runner.ProfileImageUrl : "https://placehold.co/200x200/EEE/31343C")" alt="profileimage" width="32" height="32" class="rounded-circle flex-shrink-0">
                                    <span class="ms-2">@runner.UserName</span>
                                </span>
                            </td>
                            <td>@runner.Pace</td>
                            <td>@runner.MileAge</td>
                            <td>@runner.City</td>
                            <td>@runner.State</td>
                            <td>
                                <a asp-controller="User" asp-action="Detail" asp-route-id="@runner.Id">
                                    View
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>


