@model List<UserViewModel>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Runners</h1>
            <p class="lead text-muted">Meet the Pack: Connect, Inspire, and Grow with Fellow Runners!</p>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row mb-2">
            @foreach (var runner in Model)
            {
                <div class="col-12 col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <a asp-controller="User" asp-action="Detail" asp-route-id="@runner.Id" class="me-3">
                                    <img alt="@runner.UserName" src="@(!string.IsNullOrEmpty(runner.ProfileImageUrl) ? runner.ProfileImageUrl : "https://placehold.co/80x80/EEE/31343C")" width="80" height="80">
                                </a>
                                <div class="media-body">
                                    <div>
                                        <a asp-controller="User" asp-action="Detail" asp-route-id="@runner.Id" class="h5 m-0">
                                            <h5>@runner.UserName</h5>
                                        </a>
                                        <small class="text-muted"><i class="icon-location"></i> @runner.City, @runner.State</small>
                                    </div>
                                    <ul class="list-inline">

                                        <li class="list-inline-item text-small">@runner.MileAge miles </li>

                                        <li class="list-inline-item text-small">@runner.Pace mph</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <a class="text-small" asp-controller="User" asp-action="Detail" asp-route-id="@runner.Id">
                                View
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


