@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Clubs Near Me</h1>
            @if (!Model.Clubs.Any())
            {
                <p class="lead text-muted">There are no running clubs in your area!</p>
            }
            else
            {
                <p class="lead text-muted">Running clubs near @Model.City, @Model.State</p>
            }
            <p>
                <a asp-area="" asp-controller="Race" asp-action="Index" class="btn btn-primary my-2">Browse Races</a>
                <a asp-area="" asp-controller="Club" asp-action="Index" class="btn btn-secondary my-2">Browse Clubs</a>
            </p>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row mb-2">
            @foreach (var item in Model.Clubs)
            {
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">@item.Title - @item.ClubCategory</strong>
                            <div class="mb-1 text-muted">@item.Address.Street, @item.Address.City, @item.Address.State</div>
                            <p class="card-text mb-auto">@item.Description</p>
                            <a asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id" class="stretched-link">View Club</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img class="object-fit-cover" width="200" height="250" src="@item.Image" alt="Card image cap">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!--end of container-->
</section>
