@{
    string currentArea = ViewContext.RouteData.Values["area"]?.ToString();
    string currentController = ViewContext.RouteData.Values["controller"].ToString();
    string currentAction = ViewContext.RouteData.Values["action"].ToString();
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StravaClone.Web</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">

            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Strava Clone</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Home" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Clubs Near Me</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(currentController == "Dashboard" ? "active" : "")" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "User" ? "active" : "")" asp-area="" asp-controller="User" asp-action="Index">Runners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Club" ? "active" : "")" asp-area="" asp-controller="Club" asp-action="Index">Clubs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Race" ? "active" : "")" asp-area="" asp-controller="Race" asp-action="Index">Races</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item @(currentAction == "Create" && currentController == "Club" ? "active" : "")" asp-area="" asp-controller="Club" asp-action="Create">Create Club</a>
                                    <a class="dropdown-item @(currentAction == "Create" && currentController == "Race" ? "active" : "")" asp-area="" asp-controller="Race" asp-action="Create">Create Race</a>
                                    <a class="dropdown-item @(currentAction == "EditUserProfile" && currentController == "Dashboard" ? "active" : "")" asp-area="" asp-controller="Dashboard" asp-action="EditUserProfile">My Profile</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Login">Sign in</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Register">Sign up</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
