@model Race

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">@Model.Title</h1>
            <p class="lead text-muted">@Model.Description</p>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img class="img-thumbnail" src="@Model.Image" alt="">
            </div>

            <div class="col-md-7">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Street</th>
                            <td>@Model.Address.Street</td>
                        </tr>
                        <tr>
                            <th scope="row">City</th>
                            <td>@Model.Address.City</td>
                        </tr>
                        <tr>
                            <th scope="row">State</th>
                            <td>@Model.Address.State</td>
                        </tr>
                        <tr>
                            <th scope="row">StartTime</th>
                            <td>@Model.StartTime</td>
                        </tr>
                        <tr>
                            <th scope="row">EntryFee</th>
                            <td>@(Model.EntryFee)</td>
                        </tr>
                        <tr>
                            <th scope="row">Website</th>
                            <td>@(Model.Website ?? "-")</td>
                        </tr>
                        <tr>
                            <th scope="row">Twitter</th>
                            <td>@(Model.Twitter ?? "-")</td>
                        </tr>
                        <tr>
                            <th scope="row">Facebook</th>
                            <td>@(Model.Facebook ?? "-")</td>
                        </tr>
                        <tr>
                            <th scope="row">Contact</th>
                            <td>@(Model.Contact ?? "-")</td>
                        </tr>
                        <tr>
                            <th scope="row">RaceCategory</th>
                            <td>@Model.RaceCategory</td>
                        </tr>
                    </tbody>
                </table>

                <a asp-controller="Race" asp-action="Index">Back</a>
            </div>
        </div>
    </div>
</section>
